#app {
    border: 1px solid beige;
    height: 800px;
    padding: 15px;
    text-align: center;
}

#app div {
    display: block;
    border: 1px solid beige;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
}

.ul-todo {
    text-align: left;
}

.mb-15 {
    margin-bottom: 15px;
}